---
import Layout from '../layouts/Layout.astro';
import { NewsMarquee } from '../components/marquee';
const res = await fetch("http://192.168.0.99:8006/v1/marquee")
const data = await res.json()
---

<Layout title="INTEL">
	<main class="flex min-h-screen flex-col items-center justify-start bg-[#030303] px-6 pt-4 sm:pt-6 relative overflow-hidden">
		<div class="absolute top-0 left-1/2 -translate-x-1/2 flex items-start justify-center pt-10">
			<div class="h-[20rem] w-[50rem] bg-zinc-500/15 blur-[120px] rounded-full"></div>
		</div>
		
		<div class="relative w-full">
			<h1 class="relative z-10 bg-gradient-to-b from-white via-zinc-200 to-zinc-800 bg-clip-text text-center text-7xl font-extrabold tracking-[0.15em] text-transparent sm:text-9xl drop-shadow-2xl uppercase">
				INTEL
			</h1>
			<div class="w-full max-w-[80rem] mx-auto">
				<NewsMarquee newsItems={data} client:only="react" />
			</div>
			
		</div>
	</main>
	
</Layout>
